body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
/*--------------------------------*/
#cntIntro {
    width: 60em;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   /*border: 1px solid black;*/
}

#cntTitle {
    width: 60em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
}

.txtTitle{
    width: 15em;
    height: 5em;
    border: 0.5px solid black;
    text-align: center;
}

#cntBtnIn{
    width: 60em;
    height: 10em;
    /*border: 0.5px solid black;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxBtnIn{
    width: 9em;
    height: 6em;
    /*border: 1px solid black;*/
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btnIn{
    width: 7em;
    height: 4em;
    margin-top: 1.5em;
}
/*--------------------------------*/
/* Selection page */

#cntSlt{
    width: 70em;
    height: 30em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
}

#cntPlayers{
    width: 62em;
    height: 26em;
   /* border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

#boxPlayer{
    width: 22.5em;
    height: 22.5em;
  /*border: 0.5px solid black;*/
    display: flex;
    flex-direction: column;
}

#cntPb1{
    width: 22.5em;
    height: 11.25em;
    /*border: 0.1px solid black;*/
    display: flex;
    flex-direction: row;
}

#cntPb2{
    width: 22.5em;
    height: 11.25em;
    /*border: 0.1px solid black;*/
    display: flex;
    flex-direction: row;
}
#pig1{
    width: 11.25em;
    height: 11.25em;
    border: 0.1px solid black;
    background-color:darkgray;
}

#pig2{
    width: 11.25em;
    height: 11.25em;
    border: 0.1px solid black;
    background-color:whitesmoke ;
}

#pig3{
    width: 11.25em;
    height: 11.25em;
    border: 0.1px solid black;
    background-color:whitesmoke;
}

#pig4{
    width: 11.25em;
    height: 11.25em;
    border: 0.1px solid black;
    background-color: darkgray;
    
}

#slcFinal{
    width: 60em;
    height: 15em;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#slcA{
    width: 11.25em;
    height: 11.25em;
    border: 1px solid black;
}

#slcB{
    width: 11.25em;
    height: 11.25em;
    border: 1px solid black;
}

#btnFight{
    margin-top: 1em;
    margin-bottom: 2em;
}

/*-----------------------------------------*/

/*fightScream HTML*/

#cntFighters{
    width: 60em;
    height: 40em;
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#screamFight{
    width: 45em;
    height: 25em;
    border: 0.5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#player1{
    width: 12em;
    height: 12em;
    border: 0.5px solid black;
}

#player2{
    width: 12em;
    height: 12em;
    border: 0.5px solid black;
}

#cntInfo{
    width: 45em;
    height: 10em;
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.select{
    width: 8em;
    height: 1.5em;
    border: 0.5px solid black;
}
.result{
    width: 8em;
    height: 1.5em;
    border: 0.5px solid black;
}